<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean class="quoters.bpp.InjectRandomIntAnnotationBeanPostProcessor"/>

    <bean class="quoters.bpp.DeprecationClassHandlerBeanFactoryPostProcessor"/>
    <bean class="quoters.PostInitApplicationListener"/>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean class="quoters.WarningBeanFactoryPostProcessor"/>

    <bean class="quoters.Abc"/>

    <bean class="quoters.bpp.TransactionalAnnotationBeanPostProcessor"/>
    <bean class="quoters.bpp.BenchmarkAnnotationBeanPostProcessor"/>

    <bean class="quoters.SapServiceImpl"/>

    <context:property-placeholder location="classpath:quotes.properties, classpath:prod.properties"
                                  ignore-resource-not-found="true"/>


    <bean class="quoters.IntegerFactory" id="integer"/>

    <bean class="quoters.IntegerFactory2" id="integerFactory2"/>

    <bean class="java.lang.Integer" factory-bean="integerFactory2" factory-method="getInt"/>


    <bean id="trustMe" class="java.lang.String">
        <constructor-arg value="Trust Me!!!"/>
    </bean>
    <bean id="talkingRobot" class="quoters.TalkingRobotImpl">
        <property name="quoters">
            <list>
                <ref bean="shakespearQuoter"/>
                <ref bean="terminatorQuoter"/>
            </list>
        </property>
    </bean>
    <bean id="terminatorQuoter" class="quoters.TerminatorQuoter" destroy-method="killAll" scope="prototype">
        <property name="messages">
            <list>
                <value>I'll be back</value>
                <ref bean="trustMe"/>
                <value>Astalavista baby</value>
                <value>Bullshit</value>
            </list>
        </property>
    </bean>
    <bean id="shakespearQuoter" class="quoters.ShakespearQuoter" lazy-init="true">
        <property name="message" value="${shakespear}"/>
    </bean>


</beans>